<!DOCTYPE html>

<title>Content index</title>

{% block body %}
    <h1>Content index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>CreatedAt</th>
                <th>Tags</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for content in contents %}
            <tr>
                <td>{{ content.id }}</td>
                <td>{{ content.title }}</td>
                <td>{{ content.content }}</td>
                <td>{{ content.CreatedAt ? content.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                {% for tag in content.tags.toArray %}
                    {{ tag.getName }}
                {% endfor %}
                </td>
                <td>{{ content.type }}</td>
                <td>
                    <a href="{{ path('back_app_content_show', {'id': content.id}) }}">show</a>
                    <a href="{{ path('back_app_content_edit', {'id': content.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('back_app_content_new') }}">Create new</a>



    <section class="global-container">
            <div class="panel">
                <h3>Créer un nouveau contenu</h3>
                <div class="profile-card-container">
                    <a class="profile-card" href="{{ path('back_choose_content', {'type': "novice"}) }}">
                        <h4>Commencer avec les outils simplifiés</h4>
                        <p>Pour les utilisateurs qui ne sont pas familiers avec les outils d’édition ou qui souhaitent créer du contenu rapidement.</p>
                        <img src="{{ asset('assets/images/profil_novice.png') }}" />
                    </a>
                    <a class="profile-card profile-card--pro" href="{{ path('back_choose_content', {'type': "pro"}) }}">
                        <h4>Commencer avec les outils complets</h4>
                        <p>
                            Pour les utilisateurs qui souhaitent avoir une totale liberté de création et 
                            qui sont familiers avec les outils de design.<br /><br />
                            Recommandé pour les designer, services de communication et marketing.
                        </p>
                        <img src="{{ asset('assets/images/profil_pro.png') }}" />
                    </a>
                </div>
                <p>Vous pourrez modifier ce choix dans vos réglages de profil plus tard.</p>
            </div>
        </section>
        
{% endblock %}