<!DOCTYPE html>

<title>Content</title>

{% block body %}
    <h1>Content</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ content.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ content.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ content.content }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ content.UpdatedAt ? content.UpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ content.CreatedAt ? content.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Image</th>
                {% for img in imgs %}
                    <td>{{ img.media_url }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Tags</th>
                <td>{{ content.tags }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('back_app_content_index') }}">back to list</a>

    <a href="{{ path('back_app_content_edit', {'id': content.id}) }}">edit</a>

    {{ include('back/content/_delete_form.html.twig') }}
{% endblock %}
