{% extends 'base_back.html.twig' %}

{% block title %}Contenu{% endblock %}

{% block body %}
    <section class="global-container">
        <div class="panel">

            <header>
                <ul>
                    <li>Contenus généraux</li>
                    <li>Nos conseils</li>
                    <li>Discusssions</li>

                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <div class="header">
                                <h4 class="modal-title">Filtrer les contenus</h4>
                                <div class="close">
                                    <img class="logo" src="{{ asset('assets/images/filter red.svg') }}" />
                                </div>
                            </div>
                            <div class="modal-body">
                                <p>Type de contenus</p>
                                <div class="tags">
                                    <p onclick="changeBackgroundtype(this)">Tuto</p>
                                    <p onclick="changeBackgroundtype(this)" >Guide</p>
                                    <p onclick="changeBackgroundtype(this)">Article</p>
                                </div>
                            </div>
                            <div class="modal-body">
                                <p>Mots clefs</p>
                                <div class="tags">
                                    {% for tag in tags %}
                                        <p onclick="changeBackground(this)">{{tag.name}}</p>
                                    {% endfor %}
                                </div>

                            </div>
                            <button class="validate" onclick="filter();">Valider</button>
                        </div>
                    </div>
                </ul>
                <div class="filter" id="openButton">
                    <p>Trier par<img id="openButton" src="{{ asset('assets/images/arrow.svg') }}" /></p>
                    <div class="logo-container" class="close">
                        <img class="logo" src="{{ asset('assets/images/filter.svg') }}" />
                    </div>
                </div>
            </header>
            <div class="content-card-container">
            {% for content in contents %}
                <div class="content-card">
                    <div class="left">
                        <div class="top">
                            <h2>{{ content.title }}</h2>
                            <time>{{ content.CreatedAt ? content.CreatedAt|date('Y-m-d H:i:s') : '' }}</time>
                            <div class="tags">
                                {% for tag in tags %}
                                    <div class="tag">{{tag.name}}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <p>{{ content.content }}</p>
                    </div>
                    <div class="right">
                    {% for media in content.medias.toArray %}
                        {% if media.type == "Image" %}
                            <td>
                                <img src="{{ asset('uploads/images/' ~ media.url) }}" alt="" height="100px" width="100px">
                            </td>
                        {% elseif media.type == "Video" %}
                            <td>
                                <video src="{{ asset('uploads/images/' ~ media.url) }}"></video>
                            </td>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    <section>
    <script>
   // Sélectionnez le bouton qui ouvre la modal
const openButton = document.getElementById("openButton");

// Sélectionnez la modal
const modal = document.getElementById("myModal");

// Sélectionnez le bouton de fermeture
const closeButton = document.querySelector(".close");

// Lorsque l'utilisateur clique sur le bouton d'ouverture, afficher la modal
openButton.addEventListener("click", function() {
  modal.style.display = "block";
});

// Lorsque l'utilisateur clique sur le bouton de fermeture, masquer la modal
closeButton.addEventListener("click", function() {
  modal.style.display = "none";
});

// Lorsque l'utilisateur clique en dehors de la modal, masquer la modal
window.addEventListener("click", function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
});

// Lorsque l'utilisateur appuie sur la touche "Escape", masquer la modal
window.addEventListener("keydown", function(event) {
  if (event.key === "Escape") {
    modal.style.display = "none";
  }
});
   function changeBackground(tag) {
       if(tag.style.background == "green"){
       tag.style.background = "none";
       tag.style.color = "red";
       }
       else{
       tag.style.background = "green";
       tag.style.color = "white";
       }
   }
   function changeBackgroundtype(tag) {
       if(tag.style.background == "green"){
           tag.style.background = "none";
           tag.style.color = "red";
       }
       else{
           tag.style.background = "lightgreen";
           tag.style.color = "white";
       }
   }

   function filter(){
       var greenElements = [];
       var typeElements = [];
       var tags = document.getElementsByTagName("p");
       for (var i = 0; i < tags.length; i++) {
       var tag = tags[i];
       if (tag.style.background === "green") {
       greenElements.push(tag.textContent);
        }
       if (tag.style.background === "lightgreen") {
       typeElements.push(tag.textContent);
       }
       }
       location.replace("/content/?filter="+ greenElements +"&type="+ typeElements);
   }
</script>

{% endblock %}
