<!DOCTYPE html>

<title>Content index</title>

{% block body %}
    <h1>Content index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>UpdatedAt</th>
                <th>CreatedAt</th>
                <th>Image</th>
                <th>Type de publication</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for content in contents %}
            <tr>
                <td>{{ content.id }}</td>
                <td>{{ content.title }}</td>
                <td>{{ content.content }}</td>
                <td>{{ content.UpdatedAt ? content.UpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ content.CreatedAt ? content.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ content.tags }}</td>
                <td>
                    <a href="{{ path('front_app_content_show', {'id': content.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% extends 'base_back.html.twig' %}

{% block title %}Contenu{% endblock %}

{% block body %}
    
    <section class="global-container">
        <div class="panel">

            <header>
                <ul>
                    <li>Contenus généraux</li>
                    <li>Nos conseils</li>
                    <li>Discusssions</li>

                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <div class="header">
                                <h4 class="modal-title">Filtrer les contenus</h4>
                                <div class="close">
                                    <img class="logo" src="{{ asset('assets/images/filter red.svg') }}" />
                                </div>
                            </div>
                            <div class="modal-body">
                                <p>Type de contenus</p>
                                <div class="tags">
                                
                                </div>
                            </div>
                            <div class="modal-body">
                                <p>Mots clefs</p>
                                <div class="tags">
                                
                                </div>
                            </div>
                            <button class="validate">Valider</button>
                        </div>
                    </div>
                </ul>
                <div class="filter" id="openButton">
                    <p>Trier par<img id="openButton" src="{{ asset('assets/images/arrow.svg') }}" /></p>
                    <div class="logo-container" class="close">
                        <img class="logo" src="{{ asset('assets/images/filter.svg') }}" />
                    </div>
                </div>
            </header>
            <div class="content-card-container">
                <div class="content-card">
                    <div class="left">
                        <div class="top">
                            <h2>Titre de l'articlee eee eeee eee</h2>
                            <time>29 mars 20223</time>
                            <div class="tags">
                                <div class="tag">Hospitalisation</div>
                                <div class="tag">Pédiatrie</div>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit lorem lorem, sit amet cursus eros ullamcorper vel. Fusce vitae felis et magna ullamcorper rutrum nec vel lacus. Duis quis.</p>
                    </div>
                    <div class="right">
                    
                    </div>
                </div>
                <div class="content-card">
                    <div class="left">
                        <div class="top">
                            <h2>Titre de l'articlee eee eeee eee</h2>
                            <time>29 mars 20223</time>
                            <div class="tags">
                                <div class="tag">Hospitalisation</div>
                                <div class="tag">Pédiatrie</div>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit lorem lorem, sit amet cursus eros ullamcorper vel. Fusce vitae felis et magna ullamcorper rutrum nec vel lacus. Duis quis.</p>
                    </div>
                    <div class="right">
                    
                    </div>
                </div>
                <div class="content-card">
                    <div class="left">
                        <div class="top">
                            <h2>Titre de l'articlee eee eeee eee</h2>
                            <time>29 mars 20223</time>
                            <div class="tags">
                                <div class="tag">Hospitalisation</div>
                                <div class="tag">Pédiatrie</div>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit lorem lorem, sit amet cursus eros ullamcorper vel. Fusce vitae felis et magna ullamcorper rutrum nec vel lacus. Duis quis.</p>
                    </div>
                    <div class="right">
                    
                    </div>
                </div>
                <div class="content-card">
                    <div class="left">
                        <div class="top">
                            <h2>Titre de l'articlee eee eeee eee</h2>
                            <time>29 mars 20223</time>
                            <div class="tags">
                                <div class="tag">Hospitalisation</div>
                                <div class="tag">Pédiatrie</div>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit lorem lorem, sit amet cursus eros ullamcorper vel. Fusce vitae felis et magna ullamcorper rutrum nec vel lacus. Duis quis.</p>
                    </div>
                    <div class="right">
                    
                    </div>
                </div>
                <div class="content-card">
                    <div class="left">
                        <div class="top">
                            <h2>Titre de l'articlee eee eeee eee</h2>
                            <time>29 mars 20223</time>
                            <div class="tags">
                                <div class="tag">Hospitalisation</div>
                                <div class="tag">Pédiatrie</div>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit lorem lorem, sit amet cursus eros ullamcorper vel. Fusce vitae felis et magna ullamcorper rutrum nec vel lacus. Duis quis.</p>
                    </div>
                    <div class="right">
                    
                    </div>
                </div>
            </div>
        </div>
    <section>
<<<<<<< HEAD
    <script>
   // Sélectionnez le bouton qui ouvre la modal
const openButton = document.getElementById("openButton");

// Sélectionnez la modal
const modal = document.getElementById("myModal");

// Sélectionnez le bouton de fermeture
const closeButton = document.querySelector(".close");

// Lorsque l'utilisateur clique sur le bouton d'ouverture, afficher la modal
openButton.addEventListener("click", function() {
  modal.style.display = "block";
});

// Lorsque l'utilisateur clique sur le bouton de fermeture, masquer la modal
closeButton.addEventListener("click", function() {
  modal.style.display = "none";
});

// Lorsque l'utilisateur clique en dehors de la modal, masquer la modal
window.addEventListener("click", function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
});

// Lorsque l'utilisateur appuie sur la touche "Escape", masquer la modal
window.addEventListener("keydown", function(event) {
  if (event.key === "Escape") {
    modal.style.display = "none";
  }
});

</script>
=======
>>>>>>> origin/develop
{% endblock %}
