{% extends 'base_front.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block body %}
    <div class="conversation-container" style="width: 50%;margin: 50vh;position: fixed;">
        <br>
        <div class="message-container">
            {% for chat in conversation.chat.toArray %}
                <article class="{{ chat.client.roles[0] == "ROLE_USER" ? "user-message" : "admin-message" }} ">
                    <p>{{ chat.client.roles[0] == "ROLE_USER" }} | {{ chat.timestamp|date('Y-m-d H:i:s') }}</p>
                    <p>{{ chat.text }}</p>
                </article>
                <hr>
            {% endfor %}
        </div>
        <template id="template-message">
            <article class="message-info">
                <p id="user-info"></p>
                <p id="user-text"></p>
            </article>
        </template>

        <br>
        {{ include('front/chat/_form.html.twig') }}
    </div>
{% endblock %}


