<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% if app.user %}
        <nav>
            <img class="logo" src="{{ asset('assets/images/logo.svg') }}" />

            <ul>
                <li><img src="{{ asset('assets/images/data.svg') }}" /></li>
                <li><img src="{{ asset('assets/images/calendar.svg') }}" /></li>
                <li><img src="{{ asset('assets/images/comment.svg') }}" /></li>
                <li><img src="{{ asset('assets/images/settings.svg') }}" /></li>
                <li><img src="{{ asset('assets/images/add.svg') }}" /></li>
            </ul>

            <ul class="bottom">
                <li><img src="{{ asset('assets/images/user.svg') }}" /></li>
                <li><a href="{{ path('app_logout') }}"><img src="{{ asset('assets/images/disconnect.svg') }}" /></a></li>
            </ul>
        </nav>
    {% endif %}
        {% block body %}{% endblock %}
        
    </body>
</html>
